
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTLGLQjUwkQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTLGLQjUwkQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTLGLQjUwkQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYXgKVElMYYaJe8bpLHnCwDKhdHeFaxOedc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'), url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFsdP3pBms.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @page{
    size: 20.7cm 25.8cm;
  }
  
  @page {
    margin-left: 0mm;
    margin-right: 0mm;
    margin-top: 0mm;
    margin-bottom: 0mm;
}


 div[data-type="chapter"]
  {
      width: 882.38px;
  }

  /* Image/Caption Block */
  h1[data-type="document-title"], #chapTitle1 .os-part-text, #chapTitle1 .os-number{
    color: #0074BC;
    font-weight: bolder;
    line-height: 1.5rem;
    font-family: "Muli";
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

  h1[data-type="document-title"]{
    padding-left: 100px;
    margin-right: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#chapTitle1 .os-text{
    display: block;
    font-family: "IBM Plex Sans";
    font-size: 3.2rem;
    line-height: 3rem;
    font-weight: lighter;
    color: black;
    text-transform: none;
    letter-spacing: 1px;
}

div.os-figure.has-splash, .introduction, .splash{
    width: 882.39px;
}

div.os-figure.has-splash{
    margin-bottom: 2rem;
    font-size: 0;
    margin-right: 0;
}

.splash{
    background-color: #0074BC;
    padding-left: 100px;
    width: 782.39px;
    margin: 0;
}

img{
    width: 8.15in;
    display: inline-block;
    vertical-align: bottom;
}

.os-caption-container{
    background-color: #EEEAE0;  
    font-family: "IBM Plex Sans";
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 100px;
    padding-right: 212px;
    font-size: 12px;
}

.os-caption-container .os-title-label, .os-caption-container .os-number{
    color: #C31427;
    font-family: "Muli";
    font-weight: bold;
    font-size: small;
}

.os-caption-container .os-number{
    margin-right: 8px;
}

/* Introduction Paragraph Block */

.intro-body{
    margin-bottom: .7rem;
    overflow: hidden;
    position: relative;
    top: -15px;
}

.intro-text{
   width: 518px;
   padding-left: 100px;
   font-size: 12px;
   display: inline-block;
}

.intro-body h2, .intro-body p{
    padding: 0;
    margin: 0;
    display: inline;
}

.intro-body .intro-text .os-text{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
}

/******** Blue Chapter Outline Block *********/

.os-chapter-outline{
    background-color: #0074BC;
    width: 2.15in;
    margin-right: -0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 1.3rem;
    float: right;
}

.os-chapter-outline .os-title{
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: "IBM Plex Sans";
    margin-top: 0;
    border-bottom: white 2px solid;
    line-height: 1.5rem;
    overflow: hidden;
}

a.os-chapter-objective, .os-chapter-objective .os-number, .os-chapter-objective .os-text{
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: "IBM Plex Sans";
    display: inline-block;
    text-decoration: none; 
    vertical-align: top;
}

.os-chapter-objective .os-text{
    width: 120px;
    padding-right: 35px;
    margin-left: 5px;
    line-height: 1rem;
    margin-bottom: 0.5rem
}


/********** Bottom Section  ********* */

.chapter-content-module{
    margin-left: 65px;
    width: 445px;
    margin-right: 0;
    position: relative;
    top: -45px;
}

.chapter-content-module .os-number, .chapter-content-module .os-text, .chapter-content-module h3,
.chapter-content-module p{
    color: #0074BC;
    font-family: "Muli";
    margin-left: 35px;
}


/******* ? Document Title **********/


.chapter-content-module .os-text{
    margin-left: 0;
}

.chapter-content-module .os-number, .chapter-content-module .os-text{
    font-size: 1.4rem;
}

.chapter-content-module p{
    font-style: italic;
    font-weight: lighter;
}

.chapter-content-module ul{
    margin-top: 0;
    font-size: 12px;
    font-family: 'Muli';
    list-style: none; 
}

.chapter-content-module h3{
    font-weight: 900;
}

.chapter-content-module h3, .chapter-content-module p{
    font-size: .9rem;
    margin-top: 0;
    margin-bottom: 0;
}

.chapter-content-module h2{
    margin-bottom: 8px;
}

ul li::before {
    content: "\2022"; 
    color: #0074BC;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
  }